.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.header__title {
  font-weight: 700;
  font-size: 24px;
  color: rgb(255, 233, 38);
}

.header__about i {
  margin-left: 5px;
  color: rgb(255, 233, 38);
}
