.more {
  display: flex;
  justify-content: space-around;
}

.more .more__icon {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 65px;
  text-align: center;
}

.more__icon i {
  margin: 10px;
  font-size: 24px;
  color: rgb(255, 233, 38);
}
